
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<div id="page">
  <h1>Stupid Coaching</h1>

  <div id="question" class="params">
    <p><%= params[:question] %> - You</p>
  </div>

  <div id="answer" class="params">
    <p><%= @answer %> - Your coach</p>
  </div>

 <br>

  <div id="link">
    <%= link_to "Ask a question", ask_path %>
  </div>
</div>
